Repository cloudopsworks/node-app-template, changes with the labels that .github/labeler.yml gives for each.
All labels: release, size-XS, size-S, size-XL

.github/labeler.yml:

##
# (c) 2021 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
release:
- ./*

size-XS:
- any: [ '*Dockerfile' ]

size-S:
- any: [ 'package*.json', 'node_modules/**/*', 'charts/**/*' ]

size-XL:
- any: [ '**/*.js', '!*Dockerfile', '!package*.json', '!charts/**/*', '!node_modules/**/*' ]

Fix main build
  .github/workflows/main-build.yml
Labels: none

Update build procedure and node install
  .github/workflows/code-build.yml
  .github/workflows/code-tag.yml
  .github/workflows/dependency-track.yml
  .github/workflows/static-analysis.yml
Labels: none

Update build procedure and node install
  .github/workflows/code-tag.yml
Labels: none

FIX unclosed string
  .github/workflows/code-build.yml
Labels: none

Added Management of hotfixes
  .github/workflows/code-tag.yml
  .github/workflows/hotfix-build.yml
Labels: none

Added Management of hotfixes worng workflow
  .github/workflows/hotfix-build.yml
Labels: none

Added Management of hotfixes worng workflow
  .github/workflows/hotfix-build.yml
Labels: none

Added Management of hotfixes worng workflow
  .github/workflows/hotfix-build.yml
Labels: none

Added Management of hotfixes worng workflow
  .github/workflows/hotfix-build.yml
Labels: none

fix code tag
  .github/workflows/code-tag.yml
Labels: none

fix code tag
  .github/workflows/hotfix-build.yml
Labels: none

FIX sed
  .github/workflows/hotfix-build.yml
Labels: none

Fix outputs and release treatment
  .github/workflows/code-build.yml
  .github/workflows/hotfix-build.yml
Labels: none

Fix outputs and release treatment
  .github/workflows/hotfix-build.yml
Labels: none

Fix implementation of get-previous-tag
  .github/workflows/code-tag.yml
Labels: none

Level UP implementation with JAVA Apps
  .github/workflows/build-pull-request.yml
  .github/workflows/code-build.yml
  .github/workflows/code-tag.yml
  .github/workflows/dependency-track.yml
  .github/workflows/main-build.yml
  cloudopsworks-ci.yaml
Labels: release

Level UP implementation with JAVA Apps - minor fixes
  .dockerignore
  .github/workflows/code-build.yml
  .github/workflows/hotfix-build.yml
Labels: release

Cleanup process of preview on PR close
  .github/workflows/pr-close-cleanup.yaml
  charts/preview/Makefile
Labels: none

Cleanup process of preview on PR close
  charts/preview/Makefile
Labels: none

Github excludes + tronador makefile addition
  .dockerignore
  .gitignore
  .helmignore
  Makefile
Labels: release

New workflow mode
  .github/workflows/cd-data.yml
  .github/workflows/code-build.yml
  .github/workflows/code-tag.yml
  .github/workflows/dependency-track.yml
  .github/workflows/main-build.yml
  .github/workflows/process-owners.yaml
  .github/workflows/static-analysis.yml
  Dockerfile
  Makefile
  OWNERS
  charts/node/Makefile
  cloudopsworks-ci.yaml
Labels: release, size-XS

feat: new workflow support
  .github/workflows/dependency-track.yml
  .github/workflows/hotfix-build.yml
  .github/workflows/static-analysis.yml
Labels: none

feat: version v1 coded into the workflows
  .github/workflows/build-pull-request.yml
  .github/workflows/hotfix-build.yml
  .github/workflows/main-build.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/pr-close-cleanup.yaml
  .github/workflows/slash-commands.yml
  .github/workflows/slash-on-approve.yml
  .github/workflows/slash-on-promote.yml
Labels: none

feat: gitflow support for Node apps.
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/automerge.yml
  .github/workflows/build-pull-request.yml
  .github/workflows/cd-data.yml
  .github/workflows/code-build.yml
  .github/workflows/code-tag.yml
  .github/workflows/dependency-track.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/pr-close-cleanup.yaml
  .github/workflows/pr-merge-tagging.yaml
  .github/workflows/pre-release-build.yml
  .github/workflows/process-owners.yaml
  .github/workflows/static-analysis.yml
  .gitignore
  Makefile
  cloudopsworks-ci.yaml
  package.json
Labels: release

feat: gitflow support for Node apps.
  Makefile
Labels: release

feat: gitflow code/init for Node apps.
  Makefile
Labels: release

feat: gitflow code/init for Node apps.
  Makefile
  package.json
Labels: release

feat: gitflow code/init for Node apps.
  package.json
Labels: release

feat: gitflow code/init for Node apps.
  .github/workflows/code-build.yml
  Makefile
Labels: release

Fix: PR flow
  .github/workflows/build-pull-request.yml
Labels: none

fix: relate to base-app-template@v2
  .github/workflows/build-pull-request.yml
  .github/workflows/pr-close-cleanup.yaml
  .github/workflows/slash-commands.yml
  .github/workflows/slash-on-approve.yml
  .github/workflows/slash-on-promote.yml
Labels: none

fix: has preview condition
  .github/workflows/build-pull-request.yml
Labels: none

fix: dtrack execution condition
  .github/workflows/build-pull-request.yml
Labels: none

fix: purge depending on what is being merged
  .github/workflows/pr-merge-tagging.yaml
Labels: none

fix: purge depending on what is being merged
  .github/workflows/pr-merge-tagging.yaml
Labels: none

fix: addition of package name and type for pushing release
  .github/workflows/main-build.yml
  .github/workflows/pre-release-build.yml
Labels: none

fix: addition of package name and type for pushing release
  .github/workflows/code-build.yml
Labels: none

fix: typo on package_name
  .github/workflows/main-build.yml
  .github/workflows/pre-release-build.yml
Labels: none

added .npmignore
  .npmignore
Labels: release

fix flow
  .github/workflows/code-build.yml
Labels: none
